/* navigation bar */
#scanfcode {
  border-radius: 0px;
  background: #fff;
  padding: 10px;
  font-size: 17px;
}
/* logo or main heading */
#logo {
  font-size: 25px;
  font-weight: bolder;
  color: #000;
  letter-spacing: 2px;
}
/* navigation links*/
#link a {
  color: #000;
  margin: 0 10px 0 10px;
  letter-spacing: 1.5px;
  border-radius: 50px;
}
/* navigation link with right border */
#first-link {
  padding-right: 6px;
  border-right: solid 1px #ccc;
}
/* sign up link button and toggle button */
#toggle-button {
  color: #000;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background-color: #F9CD05;
  line-height: 17px;
}

#button-link {
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background-color: #F9CD05;
  line-height: 17px;
}

#button-link a {
  color: #000;
  background-color: #F9CD05;
}

#button-link a:hover {
  color: #F9CD05;
  background-color: #1D418C;
}

#button-link:hover {
  background-color: #1D418C;
}
