
.bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(ipl_champions_2020.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 600px;
  padding-top: 50px;
}

.centered {
  position: absolute;
  left: 50% !important;
  z-index: 10;
  color: #fff;
  text-align: center;
  top: 50% !important;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 50px;
}

.funky {
  color: white;
  mix-blend-mode: difference !important;
  font: 900 10vmin/10vh cookie, cursive !important; 
  filter: drop-shadow(0.02em 0.02em #004BA0) !important;
  text-align: center !important;
}

#mybuttons{
  background-color: #004BA0;
}

#mybuttons:hover{
  background-color: #D1AB3E!important;
}
